/* Padrão */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    @include tipo-2(14);
}

img {
    display: block;
    max-width: 100%;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	@include tipo-1(18);
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: $branco;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p::before, .quote-externo p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 14px auto 10px auto;
    background: $branco;
}

.quote-externo cite {
    @include tipo-1(14);
    letter-spacing: .1em;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitulo {
    @include tipo-1(24);
    letter-spacing: .1em;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $preto;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 8px auto;
    background: $preto;
}

.subtitulo-interno {
    @include tipo-1(24);
    letter-spacing: .1em;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: $preto;
}

.subtitulo-interno::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 8px 0;
    background: $preto;
}

.call-to-action {
    padding-top: 40px;
    text-align: center;
    clear: both;
    @include responsivo(mobile) {
        padding-top: 10px;
    }
}

.call-to-action p {
    font-style: italic;
    margin-bottom: 20px;
}

.btn {
    border: 3px solid $cor-primaria;
    padding: 10px 30px;
    @include tipo-1(14);
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    color: $cor-primaria;
    transition: all .5s ease;
}

.btn:hover {
    border-color: $branco;
    color: $branco;
}

.btn-preto:hover {  /* ou .btn.btn-preto:hover */
    border-color: $preto;
    color: $preto;
}

/* Header */

.header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    background: $cor-primaria;
    @include responsivo(mobile) {
        position: relative;
		padding-bottom: 0px;
    }
}

.header img {
    max-width: fit-content;
    @include responsivo(mobile) {
        margin: 0 auto 10px auto;
        // display: none;
    }
}

.header-menu {
    text-align: right;
    @include responsivo(mobile) {
        text-align: center;
    }
}

.header-menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    @include responsivo(mobile) {
        margin: 5px;
    }
}

.header-menu ul li a {
    @include tipo-1(14);
    letter-spacing: .1em;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: $preto;
    transition: all .3s ease;
    @include responsivo(mobile) {
        border: 4px solid $preto;
		width: 136px;
		display: block;
		float: left;
    }
    &:hover, &.menu-ativo {
        color: $branco;
        @include responsivo(mobile) {
            border-color: $branco;
        }
    }
    
}

/* Intro */

.intro {
    width: 100%;
    height: 380px;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    @include responsivo(mobile) {
        margin-top: 0px;
		padding-top: 50px;
		background: url("../img/bg-mobile.jpg") no-repeat center;
		background-size: cover;
    }
}

.intro h1 {
    @include tipo-1(48);
    font-weight: bold;
    text-transform: uppercase;
    color: $branco;
    @include responsivo(mobile) {
        @include tipo-1(36);
    }
}

/* Intro interna */

.intro-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    padding-top: 40px;
    color: $branco;
    @include responsivo(mobile) {
        margin-top: 0px;
    }
}

.intro-interna h1 {
    @include tipo-1(36);
    font-weight: bold;
    text-transform: uppercase;
}

.intro-interna h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px auto 10px auto;
    background: $branco;
}

.intro-interna p {
    font-style: italic;
}

/* Produtos */

.produtos {
    padding: 60px 0;
}

.produtos-lista li {
    text-align: center;
    background: $cor-primaria;
}

.produtos-lista img {
    margin: 0 auto;
}

.produtos-lista li h3 {
    @include tipo-1(18);
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.produtos-lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 2px auto;
    background: $preto;
}

.produtos-lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos-icone {
    padding: 20px;
    background: $preto;
}

/* Portfolio */

.portfolio {
    width: 100%;
    padding: 60px 0;
    background: $preto;
}

.portfolio .subtitulo {
    color: $cor-primaria;
}

.portfolio .subtitulo::after {
    background: $cor-primaria;
}

.portfolio-lista div:last-of-type {
    margin-top: 20px;
}

.portfolio p {  /* ou .portfolio .call-to-action p */
    color: $branco;
}

/* Qualidade */

.qualidade {
    padding: 60px 0;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.png") no-repeat center;
    position: absolute;
    top: 209px;
    right: 162px;
    z-index: -1;
    @include responsivo(tablet) {
        right: 66px;
    }
    @include responsivo(mobile) {
        display: none;
    }
}

.qualidade img {
    margin: 0 auto;
}

.qualidade-lista {
    padding-top: 20px;
    overflow: auto;  /* clear-fix: qualidade-lista estava em cima da quebra na página sobre (hidden tb serve) */
}

.qualidade-lista li {
    text-align: center;
    padding: 0 40px;
    @include responsivo(tablet) {
        padding: 0 10px;
    }
}

.qualidade-lista li h3 {
    @include tipo-1(18);
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.qualidade-lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px auto;
    background: $preto;
}

/* Quebra */

.quebra {
    width: 100%;
    height: 220px;
    text-align: center;
    padding-top: 40px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
}

.quebra .quote-externo {
    max-width: 400px;
}

/* Footer */

.footer {
    width: 100%;
    background: $preto;
    color: $branco;
    padding: 20px 0;
}

.footer h3 {
    @include tipo-1(18);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    color: $cor-primaria;
}

.footer h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 6px 0 12px 0;
    background: $cor-primaria;
}

.footer-historia {
    padding-right: 40px;
}

.footer-contato ul li {
    @include tipo-2(14);
}

.footer-redes-sociais ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-redes-sociais ul li a {
    padding: 10px;
    border: 3px solid $cor-primaria;
    display: block;
    transition: all .5s ease;
    @include responsivo(tablet) {
        padding: 6px;
    }
}

.footer-redes-sociais ul li a:hover {
    border-color: $branco;
}

.footer-redes-sociais ul li a img {
    @include responsivo(tablet) {
        width: 26px;
        height: 26px;
    }
}

.copyright {
    width: 100%;
    padding: 20px 0;
    background: $cor-primaria;
}

/* Animações */

.js .intro h1, .js .intro blockquote, .js .intro .btn, .js .animar, .js .animar-interno, .js .intro-interna h1, .js .intro-interna p {
    opacity: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}